.mdl-layout__tab-bar {
    width: 100%;
}

.mdl-layout__tab-bar-button {
    display: none;
}

.mdl-layout__content {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 56px 160px;
}

.mdl-data-table {
    table-layout: fixed;
    width: 100%;
}

.mdl-data-table td {
    white-space: normal;
}

.mdl-textfield__error {
    visibility: visible;
}

.mdl-textfield {
    display: block;
    width: 600px;
}

.new-post {
    bottom: 56px;
    position: fixed;
    right: 56px;
    z-index: 9999;
}