.mdl-layout__tab-bar {
    width: 100%;
}

.mdl-layout__tab-bar-button {
    display: none;
}

.mdl-layout__content {
    padding: 56px;
}

.mdl-data-table {
    width: 100%;
}

.mdl-textfield__error {
    visibility: visible;
}

.mdl-textfield {
    display: block;
    width: 600px;
}

.new-post {
    bottom: 56px;
    position: fixed;
    right: 56px;
    z-index: 9999;
}