body {
    color: #444;
    font-family: 'PT Serif', Georgia, serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

a {
    color: #2196F3;
    text-decoration: none;

    &:hover {
        color: #2196F3;
        text-decoration: underline;
    }
    &:visited {
        color: #673AB7;
    }
}

p {
    margin: 20px 0;
}

dt {
    margin-top: 20px;
}

dd {
    margin-left: 20px;
}

img,
iframe {
    max-width: 100%;
}

.entry-title a,
.main-menu a {
    color: #444;

    &:hover,
    &:visited {
        color: #444;
    }
}

.site-name {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;

    a,
    a:hover,
    a:visited {
        color: #0D47A1;
        text-decoration: none;
    }
}

.site-subtitle {
    color: #C5CAE9;
    font-size: 26px;
    font-weight: 300;
    margin-top: 0;
}

.main-menu {
    border-bottom: 1px solid #DDD;
    list-style: none;
    padding: 0 0 10px;

    li {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.post {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #DDD;
}

.archive-date {
    font-size: 18px;
    margin-bottom: 10px;
}

.main-footer {
    border-top: 1px solid #DDD;
    margin: 40px 0;
}

.social-links {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}
