{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <title>Fuzzing the Web</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/facvicon.png' %}">

    <link href="https://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body class="{% block body_class %}{% endblock body_class %}">
    <header id="banner" class="main-header">
        <h1 class="site-name">
            <a href="/">
                Fuzzing the Web
            </a>
        </h1>
        <h2 class="site-subtitle">Javi Manzano's blog</h2>
    </header>
    <nav id="navigation" class="main-nav">
        <ul class="main-menu">
            <li><a href="{% url 'blog:home' %}">Blog</a></li>
            {# <li><a href="/archives/">Archives</a></li> #}
            <li><a href="{% url 'blog:photos' %}">Photos</a></li>
            <li><a href="{% url 'blog:about' %}">About</a></li>
        </ul>
    </nav>
    <div role="main">
        {% block content %}{% endblock content %}
    </div>
    <footer class="main-footer">
        <p>Powered by <a target="_blank" href="https://github.com/potatolondon/djangae">Djangae</a>.</p>
        <p>Me, elsewhere: <a href="https://twitter.com/_javiman" target="_blank">Twitter</a>, <a href="https://github.com/jgasteiz/" target="_blank">Github</a>, <a target="_blank" href="https://www.flickr.com/photos/jgasteiz/">Flickr</a>.</p>
    </footer>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
