{% extends 'blog/base.html' %}

{% block content %}
    {% for post in post_list %}
        <article class="post">
            <header>
                <h1 class="entry-title"><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></h1>
                <abbr class="published" title="{{ post.created }}">{{ post.created }}</abbr>
            </header>
            <div>{{ post.body }}</div>
        </article>
    {% empty %}
        <article class="post">
            <header>
                <h1 class="entry-title">There are no posts yet</h1>
            </header>
        </article>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
