{% extends 'blog/base.html' %}
{% load static %}

{% block body_class %}body--photos{% endblock body_class %}

{% block content %}
    <header class="photos-header">
        <p>The following pictures have been taken from <a target="_blank" href="https://www.flickr.com/photos/jgasteiz/">my flickr profile</a>.</p>
    </header>

    {% spaceless %}
    <div class="photos-container">
    {% for photo in photo_list %}
        <section class="photo">
            <img class="photo__image js-photo"
                 src="{{ photo.get_640 }}"
                 alt="{{ photo.title }}"
                 title="{{ photo.title }}"
                 data-src="{{ photo.url }}"
                 data-title="{{ photo.title }}"
                 data-subtitle="{{ photo.subtitle }}"
                 >
        </section>
    {% empty %}
        <h1>There are no photos yet</h1>
    {% endfor %}
    </div>
    {% endspaceless %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/photos.js' %}"></script>
{% endblock extra_js %}
