{% extends 'blog/base.html' %}

{% block content %}
    {{ photos_url }}
    {% for photo in photo_list %}
        <section class="photo">
            <img class="photo__image" src="{{ photo.url }}" alt="{{ photo.title }}" title="{{ photo.title }}">
            <strong class="photo__title">{{ photo.title }}</strong>
            <span class="photo__subtitle">{{ photo.subtitle }}</span>
        </section>
    {% empty %}
        <h1>There are no photos yet</h1>
    {% endfor %}
{% endblock content %}
