{% extends 'blog/base.html' %}

{% block content %}
    <p>The following pictures have been taken from <a target="_blank" href="https://www.flickr.com/photos/jgasteiz/">my flickr profile</a>.</p>

    {% for photo in photo_list %}
        <section class="photo">
            <img class="photo__image" src="{{ photo.url }}" alt="{{ photo.title }}" title="{{ photo.title }}">
            <strong class="photo__title">{{ photo.title }}</strong>
            <span class="photo__subtitle">{{ photo.subtitle }}</span>
        </section>
    {% empty %}
        <h1>There are no photos yet</h1>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
