{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fuzzing the Web CMS</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.deep_purple-red.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/cms.css' %}"/>
</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Fuzzing the Web CMS</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a href="{% url 'cms:post_list' %}" class="mdl-navigation__link">Post list</a>
                </nav>
            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                <a href="{% url 'cms:post_list' %}" class="mdl-navigation__link">Post list</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            {% block content %}{% endblock content %}
        </main>
    </div>

    {% block bodyend %}{% endblock bodyend %}
</body>
</html>