{% extends 'cms/base.html' %}

{% block content %}
    <table class="mdl-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Title</th>
                <th>Is published?</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in post_list %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.is_published }}</td>
                <td>{{ post.created }}</td>
                <td>
                    <a href="{% url 'cms:update_post' post.pk %}">Edit</a>
                    <span>|</span>
                    <a href="{% url 'cms:delete_post' post.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block bodyend %}
<a href="{% url 'cms:new_post' %}" class="new-post mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
</a>
{% endblock bodyend %}
