{% extends 'cms/base.html' %}

{% block content %}
    {% for post in post_list %}
        <article class="post">
            <header>
                <h1>{{ post.title }}</h1>
                <abbr class="published" title="{{ post.created }}">
                    {{ post.created }}
                </abbr>
            </header>
            <div>{{ post.body }}</div>
            <footer></footer>
        </article>
    {% empty %}
        <h1>No posts yet</h1>
        <a href="{% url 'cms:new_post' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Create one
        </a>
    {% endfor %}
{% endblock content %}
