* {
    box-sizing: border-box;
}

textarea {
    height: 300px;
}

img {
    max-width: 100%;
}

.post-preview {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 40px;
}

@media (max-width: 839px) {
    .post-preview {
        padding: 0;
    }
}

.mdl-layout__tab-bar {
    width: 100%;
}

.mdl-layout__tab-bar-button {
    display: none;
}

.mdl-layout__content {
    padding: 40px 56px 160px;
    width: 100%;
}

@media (max-width: 839px) {
    .mdl-layout__content {
        padding: 20px 20px 80px;
    }
}

.mdl-data-table {
    table-layout: fixed;
    width: 100%;
}

.mdl-data-table td {
    white-space: normal;
}

.mdl-textfield__error {
    visibility: visible;
}

.mdl-textfield {
    display: block;
    width: 100%;
}

.new-post {
    bottom: 56px;
    position: fixed;
    right: 56px;
    z-index: 9999;
}

.unpublished-post {
    background-color: #FFF9C4;
}

@media (max-width: 839px) {
    .mdl-cell--4-col {
      width: calc(100% - 16px);
    }
}

.photo-preview {
    margin: 5px;
}
